.appointmentBg {
    background-image: url('../../../images/banner1.jpg');
    background-color: rgba(128, 128, 160, 0.11);
    background-blend-mode: darken, luminosity;
}

.grid-padding {
    padding: 80px;
}

.headerText {
    font-size: 50px;
    font-weight: bold;
    color: #1183f4;
}

@media only screen and (max-width: 600px) {
    .appointmentBg {
        width: 380px;
            /* background-image: none; */
            /* color:#1183f4 */
    }

    .grid-padding {
        padding: 20px;

    }

    .headerText {
        padding-left: 0;
        font-size: 20px;
    }

}